<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WebService1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.web>
		<compilation debug="true"/></system.web>
 <applicationSettings>
  <WebService1.Properties.Settings>
   <setting name="WebService1_SAPWebServices_ZTBL_WEBSERVICEService"
    serializeAs="String">
    <value>http://sap-prd4a.arabesque.ro:8034/sap/bc/srt/rfc/sap/ztbl_webservice/900/ztbl_webservice/ztbl_webservice</value>
   </setting>
   <setting name="WebService1_SapWsClp_ZCLP_WEBSERVICE" serializeAs="String">
    <value>http://sap-prd3a.arabesque.ro:8033/sap/bc/srt/rfc/sap/zclp_webservice/900/zclp_webservice/zclp_webservice</value>
   </setting>
  </WebService1.Properties.Settings>
 </applicationSettings>
</configuration>
