<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LiteSFATestWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <LiteSFATestWebService.Properties.Settings>
      <setting name="LiteSFATestWebService_WEBTable_ZTEST_ITABService"
        serializeAs="String">
        <value>http://sap-test2.arabesque.ro:8000/sap/bc/srt/rfc/sap/ztest_itab/900/ztest_itab/ztest_itab</value>
      </setting>
      <setting name="LiteSFATestWebService_WebNecesar1_ZWBS_ZNECESAR1Service"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/zwbs_zintrarimarfa/900/zwbs_zintrarimarfa/zwbs_zintrarimarfa</value>
      </setting>
      <setting name="LiteSFATestWebService_SAPWebServiceCLP_ZCLP_WEBSERVICEService"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/zclp_webservice/900/zclp_webservice/zclp_webservice</value>
      </setting>
      <setting name="LiteSFATestWebService_WebServiceSalarizareAG_ZWBS_SAL_AV"
        serializeAs="String">
        <value>http://sap-prd5a.arabesque.ro:8035/sap/bc/srt/rfc/sap/zwbs_sal_av/900/zwbs_sal_av/zwbs_sal_av</value>
      </setting>
      <setting name="LiteSFATestWebService_SMSService_SMSServiceService"
        serializeAs="String">
        <value>https://www.bizpack.ro/wsi/service.php</value>
      </setting>
      <setting name="LiteSFATestWebService_ClientiSemiactivi_ZWBS_SEMIACTIVI"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/zwbs_semiactivi/900/zwbs_semiactivi/zwbs_semiactivi</value>
      </setting>
      <setting name="LiteSFATestWebService_SalarizareAG_ZWBS_SAL_AV"
        serializeAs="String">
        <value>http://sap-prd5a.arabesque.ro:8035/sap/bc/srt/rfc/sap/zwbs_sal_av/900/zwbs_sal_av/zwbs_sal_av</value>
      </setting>
      <setting name="LiteSFATestWebService_SAPWebServices_ZTBL_WEBSERVICE"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/ztbl_webservice/900/ztbl_webservice/ztbl_webservice</value>
      </setting>
      <setting name="LiteSFATestWebService_PlataNeincasate_ZFG_INSTR_PLATA"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/zfg_instr_plata/900/zfg_instr_plata/zfg_instr_plata</value>
      </setting>
      <setting name="LiteSFATestWebService_SAPWSCustodie_ZWS_CUSTODIE"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/zws_custodie/900/zwbs_custodie/zwbs_custodie</value>
      </setting>
      <setting name="LiteSFATestWebService_Salarizare2019_ZWS_SALARIZARE_2019"
        serializeAs="String">
        <value>http://sap-prd4a.arabesque.ro:8034/sap/bc/srt/rfc/sap/zws_salarizare_2019/900/zws_salarizare_2019/zws_salarizare_2019</value>
      </setting>
      <setting name="LiteSFATestWebService_SalarizareKA_ZWS_SAL_KA_2019"
        serializeAs="String">
        <value>http://sap-prd6a.arabesque.ro:8036/sap/bc/srt/rfc/sap/zws_sal_ka_2019/900/zws_sal_ka_2019/zws_sal_ka_2019</value>
      </setting>
      <setting name="LiteSFATestWebService_SapWSPierderiVanzri_ZWS_CL_FACT_AVSD"
        serializeAs="String">
        <value>http://sap-prd6a.arabesque.ro:8036/sap/bc/srt/rfc/sap/zws_cl_fact_avsd/900/zws_cl_fact_avsd/zws_cl_fact_avsd</value>
      </setting>
      <setting name="LiteSFATestWebService_SapWsCabluri05_ZWMS_UL10_GET_STOCK_ARAB"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/zwms_ul10_get_stock_arab/900/zwms_ul10_get_stock_arab/zwms_ul10_get_stock_arab</value>
      </setting>
      <setting name="LiteSFATestWebService_SalarizareCVA_ZWS_SAL_CVA"
        serializeAs="String">
        <value>http://SAP-QAS1A.arabesque.ro:8082/sap/bc/srt/rfc/sap/zws_sal_cva/900/zws_sal_cva/zws_sal_cva</value>
      </setting>
      <setting name="LiteSFATestWebService_Salarizare_ZWS_SALARIZARE_24"
        serializeAs="String">
        <value>http://sap-prd6a.arabesque.ro:8036/sap/bc/srt/rfc/sap/zws_salarizare_24/900/zws_salarizare_24/zws_salarizare_24</value>
      </setting>
    </LiteSFATestWebService.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>